[Desktop Entry]
Name=micropython
Comment=Python corriendo en la EDU-CIAA
Icon=terminator
Type=Application
Categories=Development;Electronics;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;
TargetEnvironment=Unity
Exec=terminator --working-directory=~/Descargas/micropython/ciaa-nxp -e '~/.local/share/micropython.sh; bash'
